*{
    margin: 0;
    padding: 0;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav-bar{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    margin: 30px 0;
}

.logo{
    transform: scale(1.1);
}

.options, a{
    display: flex;
    gap: 150px;
    font-size: larger;
    color: #000;
}

.icons{
    display: flex;
    gap: 15px;
    margin: 0 80px 0 0;

}

h2{
    font-size: 20px;
}

.buttons{
    display: flex;
    gap: 70px;
    box-shadow: 100px #000;
}

#boton-1{
    border: #000 2px solid;
    height: 35px;
    width: 100px;
    border-radius: 10px;
    background-color: #fff;
    transform: scale(1.2);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

#boton-2{
    color: #fff;
    height: 35px;
    width: 150px;
    border-radius: 10px;
    background-color: #000;
    transform: scale(1.2);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.container{
  display: block;
    text-align: center;
    width: 100vw;
    height: 100vh;
    margin-top: 300px;
}

.container-2{
    row-gap: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.7);
    gap: 40px;
}

.container-2 h2{
    font-size: 2em;
    line-height: 1.2;
}

.tarjet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjet-2{
    width: 780px;
    height: 200px;
    background-color: #000;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0px 3px 1px -2px rgb(104, 104, 104), 0px 2px 2px 0px rgb(104, 104, 104), 0px 1px 5px 0px rgb(104, 104, 104);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.Patrocinadores{
display: flex;
flex-direction: row;
gap: 30px;
align-items: center;
justify-content: center;
margin-top: 20px;
}